.LoginDiv{
    background:linear-gradient(to bottom,gray,lightgray);
    height:100vh;
    display: flex;
    flex-direction: column;
}
.formdiv{
 margin: 2rem auto;
 width:50%;
 height: 50%;
 background-color: white;
 border-radius: 5px;
 padding: 1rem 2rem;
}
.formdiv form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
.formdiv form div{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.formdiv form div label{
    width: 50%;
    font-family: sans-serif;
    color: black;
    font-weight: 500;
}